.footer {
  @include on-tablet {
    background-color: $c-white;
  }

  &__section {
    padding: 72px 0 80px;

    @include on-tablet {
      padding: 180px 0 80px;
    }

    @include on-small-desktop {
      padding: 180 0 84px;
    }
    &--title {
      color: $c-white;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 48px */
      margin-bottom: 48px;

      @include on-tablet {
        margin-bottom: 56px;
      }
    }

    &--titled {
      color: $c-white;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3px;
      text-transform: uppercase;

      opacity: 0.5;
    }

    &--text {
      color: $c-white;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 36px */
    }
  }

  &__contact-us {
    background-color: $c-dark-gray;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    &--wrapper {
      display: grid;
      gap: 80px;

      @include on-tablet {
        gap: 120px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-flow: column wrap;
    gap: 48px;

    @include on-tablet {
      gap: 24px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__list {
      flex-direction: column;
      gap: 24px;

      @include on-tablet {
        flex-direction: row;
        gap: 40px;
        justify-content: right;
      }
    }
  }
}
