.who-we-are {
  &__text {
    &--title {
      font-size: 32px;
      line-height: 150%;
    }

    &--description {
      padding-top: 24px;
      font-weight: 600;
      font-size: 22px;

      @include on-tablet {
        padding-top: 16px;
      }

      margin: 0 auto;

      @include on-small-desktop {
        width: 716px;
      }

      @include on-design {
        width: 754px;
      }
    }
  }
}
